################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
packages
*.log
*.user
*.suo
*.log*
*.coverage
runtime.js
bootstrap.js
TestResult.xml

/EnvironmentSetup/License.config
/OneScreen/App_Data/blobs
/Keys
/OneScreen/App_data/blobs
/OneScreen.sln.VisualState.xml
/OneScreenAutoTests/SeleniumTools
/OneScreenAutoTests/TestRunLogs
/OneScreen/styles/*.css
/OneScreen/styles/*.map
/OneScreen/styles/node_modules

/OneScreen/styles/.sass-cache
!/OneScreen/App_Data/Modules/ImageVault.AddOn.EPiCMS7/bin
/.tgitconfig
/License.config
/OneScreen/Version.xml
/OneScreen/Web.Config
/OneScreen/Client/[S|s]
/OneScreen/Client/AgentView/_components

/OneScreen.Hungary/Client/[S|s]
/OneScreen.Hungary/LogFiles/Errors
/OneScreen.Hungary/ClientResources
/OneScreen.Hungary/Static

npm-debug.log
node_modules
.sass-cache
.tmp
/OneScreen/LogFiles/Errors
_framework-icons.scss
icons.html
.DS_Store
.vs
OneScreen.sublime-project
OneScreen.sublime-workspace
.idea
